*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

header{
    background:#cd57ea;
    color:white;
    text-align:center;
    padding:2%;
}

.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding:3%;
    grid-auto-rows: 200px; 
}

.grid-item{
    background:#f4f4f4;
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
}

/* .item1{
    grid-column: span 2; this is used to span the column to for example i have written here 
} */

.grid-item h2{
    margin-bottom:10px;
    color:#333;
}

.grid-item p{
    margin-bottom:15px;
    color:#555;
}

.grid-item a{
    background:#3498db;
    color:white;
    padding:8px 15px;
    border-radius:5px;
}

.grid-item a:hover{
    background:#2980b9;
}

/* Responive section using media  */
@media (max-width: 900px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* This is for Mobile view */
@media (max-width: 600px){

    header{
        font-size:18px;
        padding:4%;
    }

    .container{
        grid-template-columns: 1fr;
        grid-auto-rows:auto;
    }

    .grid-item{
        padding:15px;
    }
}
