@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



@model Product

<h2>Product Details</h2>

<p><b>Id:</b> @Model.Id</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Price:</b> @Model.Price</p>
<p><b>Category:</b> @Model.Category</p>

<a asp-action="Index">Back to List</a>
