<div class="container mt-5">
    <div class="card p-4 shadow">

        <h4>Student Details</h4>

        <p><strong>Name:</strong> @ViewBag.Name</p>
        <p><strong>Age:</strong> @ViewBag.Age</p>
        <p><strong>Course:</strong> @ViewBag.Course</p>

        <a href="/student/register" class="btn btn-secondary mt-3">Back</a>
    </div>
</div>