*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}

.container{
    display:flex;
    min-height:100vh;
    justify-content:flex-start;   
    align-items:stretch;          
}


.sidebar{
    width:20%;
    min-width:200px;
    background:#5c0000;
    color:white;
    padding:20px;
}

.sidebar p{
    margin:15px 0;
}


.main{
    flex:1;
    padding:30px;
    background:#f2f2f2;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-items:flex-start;
    gap:20px;
    margin-top:20px;
}


.card{
    width:23%;
    min-width:200px;
    background:rgb(209, 245, 255);
    border:1px solid #ccc;
    padding:20px;
}


/* Responsive Section using media Tags
/* This is for laptop */
@media (max-width: 900px){
    .card{
        flex:1 1 calc(50% - 20px);
    }
}

/* This is for mobile*/
@media (max-width: 600px){

    .container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }

    .card{
        flex:1 1 100%;
    }
} 